body {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.left_side {
    width: 40vw;
    height: 100vh;
    /*border: 1px blue solid;*/

    background: url(Images/background_desert.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.right_side {
    width: 60vw;
    height: 100vh;
    /*border: 1px red solid; */

    display: flex;
    flex-direction: column;
    
    color: #e0e0e0;
    background-color: black;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;

    background-color: rgba(0, 0, 0, 0.4);
}

.logo img {
    position: relative;
    height: 15vh;
}

.logo p {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    
}

.first_text {
    height: 40vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    word-wrap: break-word;

    font-size: 1.4rem;
    font-weight: 600;
    color: #e0e0e0;
    /* top right bottom left */
    margin: 3rem 12rem 1rem 3rem;
}


.form_container {
    height: 60vh;

    margin: 0 0 0 3rem; 
}

.form_container .text_top {
    font-size: 1.4rem;
    font-weight: 500;
}


.first_name, .last_name, .email, .phone_number, .password, .confirm_password {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 0 0;
    width: 25vw;

    font-size: 0.9rem;
    color: rgb(148, 148, 148);    
}

input {
    background-color: black;
    border:rgb(148, 148, 148) solid 0.5px;
    outline: none;
}

input:focus{
    outline: none;
    border: 2px solid rgb(255, 136, 0);
}

input, select{
    color: rgb(148, 148, 148);
}

.first_row, .second_row, .third_row {
    display: flex;
    /* top right bottom left */
    padding: 0 0 1rem 0;
}

button{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 136, 0);
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid rgb(255, 136, 0);
    border-radius: 5px;
    padding: 10px 40px;
    margin: 40px 0;
}

button:hover{
    background-color: rgb(255, 136, 0);;
    color: #e0e0e0;
}

.bottom_text {
    font-size: 1rem;
    font-weight: 500;  
    color: #e0e0e0;  
}


@media screen and (max-width: 699px) {
    /* smaller width responsiveness */

    body {
        display: flex;
        flex-direction: column;
    }

    .left_side {
        width: 100vw;
        height: 20vh;
         
        background: url(Images/background_desert.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .right_side {
        width: 100vw;
        height: 80vh;

        display: flex;
        flex-direction: column;
    }

    .logo {
        display: flex;
        justify-content: center;
      

        margin-top: 0;
    }
    
    .logo img {
        position: relative;
        height: 16vh;
        padding: 1rem 0 0 0;
    }

    .logo p {
        font-size: 3rem;
        font-weight: 700;
        color: white;
    }

    .first_text {
        height: 30vh;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        text-align: center;
        word-wrap: break-word;
    
        font-size: 1.2rem;
        font-weight: 600;
        
        /* top right bottom left */
        margin: 0 0.5rem 0 0.5rem;
    }

    .form_container {
        height: 60vh;
    
        /* top right bottom left */
        margin: 0 0 0 0;        
    }

    .form_container .text_top {
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .first_row, .second_row, .third_row {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 0;
    }
    
    .first_name, .last_name, .email, .phone_number, .password, .confirm_password {
                
        width: 60vw;
        text-align: center;
        /* top right bottom left */
        padding: 0 0 1rem 0;
    }

    .submit_button {
        display: flex;
        justify-content: center;;
    }

    button{
        /* top right bottom left */
        padding: 10px 40px;

        margin: 0.5rem;
    }
    
    .bottom_text {
        text-align: center;
    }
}

